@page "/calculate"
@using BlazorBootstrap
@rendermode InteractiveServer

<h3>Calculate</h3>

<button @onclick="@(() => Display+="+")">+</button>
<button @onclick="@(() => Display+="-")">-</button>
<button @onclick="@(() => Display+="*")">*</button>
<button @onclick="@(() => Display+="/")">/</button>
<button @onclick="@(() => Display+="100%")">100%</button>
<button @onclick="@(() => Display+="1")">1</button>
<button @onclick="@(() => Display+="2")">2</button>
<button @onclick="@(() => Display+="3")">3</button>
<button @onclick="@(() => Display+="4")">4</button>
<button @onclick="@(() => Display+="5")">5</button>
<button @onclick="@(() => Display+="6")">6</button>
<button @onclick="@(() => Display+="7")">7</button>
<button @onclick="@(() => Display+="8")">8</button>
<button @onclick="@(() => Display+="9")">9</button>
<button @onclick="@(() => Display+="0")">0</button>
<button @onclick="OnShowTemp">Show Temp</button>


<div>
	<button @onclick="Clear">C</button>
</div>
<div>
	<input type="text" value="@Display" readonly />
</div>

<button @onclick="Calc">=</button>


<Modal @ref="modal" Title="Ввод формулы показателя">
    <BodyTemplate>
        <div>
            <input type="string" @bind-value="@Input" @bind-value:event="oninput" placeholder="Введите выражение" />
            <!--<button @onclick="@(() => SetInput(Input))">Ввод</button> -->
        </div>


    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Отмена</Button>
        <Button Color="ButtonColor.Primary">Сохранить</Button>
    </FooterTemplate>
</Modal>



<Modal @ref="tempModal" Title="Выбрать показатель" Class="modal-lg">
    <BodyTemplate>
        <FormsTemplate />
    </BodyTemplate>
    <FooterTemplate>
        <Button class="btn btn-secondary" @onclick="OnHideTemp">Закрыть</Button>
    </FooterTemplate>
</Modal>

<Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">Show Modal</Button>

<!--
<Button Color="ButtonColor.Primary" @onclick="OnShowTemp">Show Temp</Button>
-->

@code {
    private Modal modal = default!;
    private Modal tempModal = default!;

    private async Task OnShowModalClick()
    {
        await modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }


    private async Task OnShowTemp()
    {
        await tempModal.ShowAsync();
    }

    private async Task OnHideTemp()
    {
        await tempModal.HideAsync();
        if ()
    }
   

}