@page "/calculate"
@rendermode InteractiveServer

<h3>Calculate</h3>




<div>
	<input type="number" @bind-value="@Input" @bind-value:event="oninput" placeholder="Введите число" />
	<button @onclick="@(() => SetInput(Input))">Ввод</button>
</div>
<!--
<div>
	<button @onclick="@(() => SetOperation("+"))">+</button>
	<button @onclick="@(() => SetOperation("-"))">-</button>
	<button @onclick="@(() => SetOperation("*"))">*</button>
	<button @onclick="@(() => SetOperation("/"))">/</button>
	<button @onclick="@(() => SetOperation("100%"))">100%</button>

</div>
-->


<div>
	<input type="text" value="@Display" readonly />
</div>

<div>
	<button @onclick="Clear">C</button>
	<button @onclick="Calcul">=</button>
</div>
<div>
	<input type="text" value="@Input" readonly />
</div>

@code {

}
