@page "/calculate"
@using BlazorApp1.Models
@using BlazorBootstrap

@rendermode InteractiveServer

<h3>Calculate</h3>

<div>
<button @onclick="@(() => Display+="+")">+</button>
<button @onclick="@(() => Display+="-")">-</button>
<button @onclick="@(() => Display+="*")">*</button>
<button @onclick="@(() => Display+="/")">/</button>
<button @onclick="@(() => Display+="100%")">100%</button>
</div>
<div>
<button @onclick="@(() => Display+="1")">1</button>
<button @onclick="@(() => Display+="2")">2</button>
<button @onclick="@(() => Display+="3")">3</button>
<button @onclick="@(() => Display+="4")">4</button>
<button @onclick="@(() => Display+="5")">5</button>
<button @onclick="@(() => Display+="6")">6</button>
<button @onclick="@(() => Display+="7")">7</button>
<button @onclick="@(() => Display+="8")">8</button>
<button @onclick="@(() => Display+="9")">9</button>
<button @onclick="@(() => Display+="0")">0</button>
</div>
<button @onclick="OnShowTemp">Show Temp</button>


<div>
	<button @onclick="Clear">C</button>
</div>
<div>
	<input type="text" value="@Display" readonly />
</div>

<button @onclick="Calc">=</button>

<Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">Show Modal</Button>

<Modal @ref="modal" Title="Ввод формулы показателя">
    <BodyTemplate>
        <div>
            <input type="string" @bind-value="@Input" @bind-value:event="oninput" placeholder="Введите выражение" />
            <!--<button @onclick="@(() => SetInput(Input))">Ввод</button> -->
        </div>


    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Отмена</Button>
        <Button Color="ButtonColor.Primary">Сохранить</Button>
    </FooterTemplate>
</Modal>


<!--Модальное окно выбора показателя-->
<!--В GetItemSelected пердается id выбранной строки из нормативов-->
<Modal @ref="tempModal" Title="Выбрать показатель" Class="modal-lg">
    <BodyTemplate>
        <FormsTemplate OnItemSelected="GetItemSelected" /><FormsTemplate />
    </BodyTemplate>
    <FooterTemplate>
        <Button class="btn btn-secondary" @onclick="OnHideTemp">Закрыть</Button>
    </FooterTemplate>
</Modal>



@if (!string.IsNullOrEmpty(selectedItemName))
{
    /*если была выбрана строка*/
    <p>Выбранное имя: @selectedItemName</p>
}

@code {
    // внедрение фабрики для создания экземпляров BanksContext.
    [Inject] private IDbContextFactory<BanksContext> dbFactory { get; set; }

    private Modal modal = default!;
    private Modal tempModal = default!;

    private int? selectedItemIdNor;
    private string selectedItemName;

    private async Task GetItemSelected(int id)
    {
        //  создаём новый DbContext, ждём его и автоматически закрываем после использования
        await using var db = dbFactory.CreateDbContext();
        // асинхронный поиск первой записи с id
        var item = await db.TemplatesNors.FirstOrDefaultAsync(n => n.IdTnor == id);
        // если item найден — взять его Name;
        selectedItemName = item?.Code ?? "Не найдено";
        OnHideTemp();
        if (!string.IsNullOrEmpty(selectedItemName))
        {
            /*если была выбрана строка*/
            Display += selectedItemName;
        }
    }

    private async Task OnShowModalClick()
    {
        await modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }


    private async Task OnShowTemp()
    {
        await tempModal.ShowAsync();
    }

    private async Task OnHideTemp()
    {
        await tempModal.HideAsync();
       
    }
   

}