@page "/calculate"
@using BlazorBootstrap
@rendermode InteractiveServer

<h3>Calculate</h3>





<!--
<div>
	<button @onclick="@(() => SetOperation("+"))">+</button>
	<button @onclick="@(() => SetOperation("-"))">-</button>
	<button @onclick="@(() => SetOperation("*"))">*</button>
	<button @onclick="@(() => SetOperation("/"))">/</button>
	<button @onclick="@(() => SetOperation("100%"))">100%</button>

</div>
-->


<div>
	<button @onclick="Clear">C</button>
	<button @onclick="Calc">=</button>
</div>
<div>
	<input type="text" value="@Display" readonly />
</div>


<Modal @ref="modal" Title="Ввод формулы показателя">
    <BodyTemplate>
        <div>
            <input type="string" @bind-value="@Input" @bind-value:event="oninput" placeholder="Введите выражение" />
            <!--<button @onclick="@(() => SetInput(Input))">Ввод</button> -->
        </div>


    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Отмена</Button>
        <Button Color="ButtonColor.Primary">Сохранить</Button>
    </FooterTemplate>
</Modal>


<!-- В твоей странице -->
<Modal @ref="tempModal" Title="Выбрать показатель" Class="modal-lg">
    <BodyTemplate>
        <FormsTemplate />
    </BodyTemplate>
    <FooterTemplate>
        <Button class="btn btn-secondary" @onclick="OnHideTemp">Закрыть</Button>
    </FooterTemplate>
</Modal>

<Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">Show Modal</Button>

<Button Color="ButtonColor.Primary" @onclick="OnShowTemp">Show Temp</Button>

@code {
    private Modal modal = default!;
    private Modal tempModal = default!;

    private async Task OnShowModalClick()
    {
        await modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }


    private async Task OnShowTemp()
    {
        await tempModal.ShowAsync();
    }

    private async Task OnHideTemp()
    {
        await tempModal.HideAsync();
    }
   

}